body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.button-container h2 {
    margin-top: 20px;
    color: #2e7d32;
    font-size: 24px;
}

.main-icon {
    font-size: 60px;
    color: #43a047;
    margin-bottom: 30px;
    display: block; 
    position: absolute;
    top: 28%;
    left: 46%;
}

.button {
    display: block;
    width: 100%; 
    padding: 15px;
    margin: 15px 0; 
    font-size: 18px;
    color: white;
    background-color: #43a047;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2e7d32;
}
